<section class="module bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3 class="module-title font-alt">Ürünlerimiz</h3>
      </div>
    </div>
    <div class="row client">
      <div class="owl-carousel text-center" data-items="5" data-pagination="true" data-navigation="false">
        <div class="owl-item">
          <div class="col-sm-12">
              <h3>PVC MEBRAN KAPI</h3>
            <div class="client-logo"><img src="{% static 'images\mebran2.jpg' %}" alt="PVC MEBRAN KAPI"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
              <h3>PVC MEBRAN KAPI</h3>
            <div class="client-logo"><img src="{% static 'images\mebran2.jpg' %}" alt="PVC MEBRAN KAPI"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
              <h3>PVC MEBRAN KAPI</h3>
            <div class="client-logo"><img src="{% static 'images\mebran2.jpg' %}" alt="PVC MEBRAN KAPI"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
              <h3>PVC MEBRAN KAPI</h3>
            <div class="client-logo"><img src="{% static 'images\mebran2.jpg' %}" alt="PVC MEBRAN KAPI"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
              <h3>PVC MEBRAN KAPI</h3>
            <div class="client-logo"><img src="{% static 'images\mebran2.jpg' %}" alt="PVC MEBRAN KAPI"/></div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12">
              <h3>PVC MEBRAN KAPI</h3>
            <div class="client-logo"><img src="{% static 'images\mebran2.jpg' %}" alt="PVC MEBRAN KAPI"/></div>
          </div>
        </div>
    </div>
  </div>
</section>